<launch>
    <!-- args for changing robot params -->
    <arg name="use_sim_time" default="true"/>
 
 
	<include file="$(find strirus_robot_description)/launch/robot_description_gen.xml"/>

    <!-- Launch the room -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!--<arg name="world_name" value="$(find strirus_gazebo)/worlds/testing_area.world"/> -->
        <arg name="paused" value="true"/>
        <arg name="physics" default="ode"/>
        <arg name="verbose" default="true"/>'
        <arg name="gui" value="true"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

</launch>
